.glowing-table {
  box-shadow: 0 0 0 0 rgba(94, 54, 247, 0.7), 0 0 0 0 rgba(162, 91, 255, 0.7);
  animation: smooth 7s infinite;
}

@keyframes smooth {
  0% {
    box-shadow: 0 0 5px 4px rgba(94, 54, 247, 0.7), 0 0 0 0 rgba(162, 91, 255, 0.7);
  }
  25% {
    box-shadow: 0 0 12px 7px rgba(94, 54, 247, 0.4), 0 0 50px 0 rgba(162, 91, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 30px 10px rgba(94, 54, 247, 0.4), 0 0 50px 0 rgba(162, 91, 255, 0.3);
  }
  75% {
    box-shadow: 0 0 12px 7px rgba(94, 54, 247, 0.4), 0 0 50px 0 rgba(162, 91, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 5px 4px rgba(94, 54, 247, 0.7), 0 0 0 0 rgba(162, 91, 255, 0.7);
  }
}

.chat-container {
  height: calc(100% - 95px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  gap: 15px;
  padding: 0 10px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.04);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
.chat-container::-webkit-scrollbar {
  width: 9px;
}
.chat-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
.chat-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 112, 112, 0.6);
  border-radius: 6px;
}

/* this class disables the highlighting effect when a user taps something on mobile. Causes unwanted popups */
.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}